[plugin]

name="Godai"
description="AI control for Godot Editor"
author="David Snopek"
# Also update version in:
# - bundle/manifest.json
# - addons/godai/mcp/mcp_server.gd
version="0.1.0"
script="plugin.gd"
